<!DOCTYPE html>
<meta charset="utf-8">
<html>
    <head>
        <link rel="stylesheet" href="/static/css/style.css" />
        <style type="text/css">
        body {
            font-family: verdana, sans-serif;
        }
        </style>
    </head>
    <body>
        <h1>Text Mirror</h1>
        <p>A tool for analyzing your text messages!</p>
        <div style="text-align: center">
            <label for="delimiter">Choose a contact:</label>
            <select id="dropdown">
{#                <option value="volvo">Volvo</option>#}
{#                <option value="saab">Saab</option>#}
{#                <option value="opel">Opel</option>#}
{#                <option value="audi">Audi</option>#}
            </select>
            <input name="delimiter" type="checkbox" checked="true" onchange="updateDelimiter()">
            <button onclick="addLine()">Add line</button>
            <button onclick="removeLine()">Remove line</button>
        </div>
        <div id="chart_placeholder"></div>
        <div style="text-align: center" id="legend"></div>
        <script src="/static/js/d3.min.js"></script>
        <script src="/static/js/eventDrops.js"></script>
        <script>
            var chartPlaceholder = document.getElementById('chart_placeholder');
            var names = ["Received", "Sent", "Received", "Sent","Received", "Sent","Received", "Sent","Received", "Sent"];

            var data = [];
            var endTime = Date.now();
            var oneMonth = 30 * 24 * 60 * 60 * 1000;
            var startTime = endTime - oneMonth;

            function createEvent (name) {
                var event = {};
                event.name = name;
                event.dates = [];

                d3.json("/static/messages.json", function(error, json) {
                    for(var i = 0; i<20; i++){
                        document.getElementById("dropdown").innerHTML += '<option value="contact">'+json[i].from[0]+'</option>';


                        if(json[i].to[0] == "Katayoun") {
                            event.dates.push(new Date(json[i].date));
                        }
                    }
                });

{#                var max =  Math.floor(Math.random() * 200);#}
{#                for (var j = 0; j < max; j++) {#}
{#                    var time = Math.floor((Math.random() * oneMonth)) + startTime;#}
{#                    console.log(new Date(time));#}
{#                    event.dates.push(new Date(time));#}
{#                }#}

                return event;
            }



            for (var i = 0; i < 2; i++) {
                data.push(createEvent(names[i]));
            }

            var color = d3.scale.category20();

            var locale = d3.locale({
                "decimal": ",",
                "thousands": " ",
                "grouping": [3],
                "dateTime": "%A %e %B %Y, %X",
                "date": "%d/%m/%Y",
                "time": "%H:%M:%S",
                "periods": ["AM", "PM"],
                "days": ["Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday", "Sunday"],
                "shortDays": ["Mon.", "Tue.", "Wed.", "Thu.", "Fri.", "Sat.", "Sun."],
                "months": ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"],
                "shortMonths": ["Jan.", "Feb.", "Mar.", "Apr.", "May", "Jun.", "Jul.", "Aug.", "Sept.", "Oct.", "Nov.", "Dec."]
            });

            var graph = d3.chart.eventDrops()
                .start(new Date(startTime))
                .end(new Date(endTime))
                .locale(locale)
                .eventColor(function (datum, index) {
                    return color(index);
                })
                .width(1000)
                .margin({ top: 100, left: 200, bottom: 0, right: 0 })
                .axisFormat(function(xAxis) {
                    xAxis.ticks(5);
                })
                .eventHover(function(el) { 
                    var series = el.parentNode.firstChild.innerHTML;
                    var timestamp = d3.select(el).data()[0]
                    document.getElementById('legend').innerHTML = 'Hovering [' + timestamp + '] in series "' + series + '"'; 
                });

            var element = d3.select(chartPlaceholder).append('div').datum(data);
            graph(element);

            var updateDelimiter = function (value) {
                graph.hasDelimiter(!graph.hasDelimiter())(element);
            }

            var addLine = function () {
                var data = element.datum();
                var i = data.length;
                console.log(i);
                data.push(createEvent(names[i]));
                element = element.datum(data);
                graph(element);
            }

            var removeLine = function () {
                var data = element.datum();
                data.pop();
                element = element.datum(data);
                graph(element);
            }

        </script>
    </body>
</html>
